/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.table-dark {
    background-color: #333; /* Matches the background color of the body */
}

.table-dark th,
.table-dark td {
    background-color: #333; /* Ensure table cells have the same background */
}

.table-hover tbody tr:hover {
    background-color: #333; /* Slightly lighter background on hover for effect */
}

.masthead {
    padding-bottom: 20px;
}

main.mb-4 {
    margin-top: -90px;
}


.page-heading {
    margin-left: 10px;

}

.col-lg-8 {
    margin-top: 100px;
}

 .page-content {
    margin-top: 200px; /* Adjust this value as needed */
    margin-left: 220px;
 }

 .shift-left {
    margin-left: 10px; /* Adjust this value as needed */
}



