{% extends 'base.html' %}
{% block title %}Uploaded Files{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard</h1>

      <table class="table table-dark table-hover">
          <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">File Name</th>
                <th scope="col">Uploaded By</th>
                <th scope="col">File Size (bytes)</th>
                <th scope="col">View File</th>
                <th scope="col">Previous Hash</th>
                <th scope="col">Proof</th>
                <th scope="col">Timestamp</th>
            </tr>
          </thead>

          <tbody>
          {% for log in files %}
                <tr>
                    <td>{{ log['Index'] }}</td>
                    <td>{{ log['File Name'] }}</td>
                    <td>{{ log['Uploaded By'] }}</td>
                    <td>{{ log['File Size (Bytes)'] }}</td>
                    <td>
                        <a href="{{ log['View File'] }}" target="_blank">view</a>
                    </td>
                    <td>{{ log['Previous Hash'] }}</td>
                    <td>{{ log['Proof'] }}</td>
                    <td>{{ log['Timestamp'] }}</td>
                </tr>
           {% endfor %}
          </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
