{% extends "header.html" %}
{% block title %}Download File{% endblock %}

{% block content %}
<div class="container extra-spacing">
    <h1>Download and Decrypt a File</h1>
    <form action="/download" method="POST">
        <div class="d-flex align-items-center">
            <label for="filename" class="me-3">Enter the encrypted filename (with extension):</label>
            <input type="text" id="filename" name="filename" style="width: 400px;" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Download</button>
    </form>
</div>
{% endblock %}
