{% extends 'base.html' %}
{% block title %}Generate Key{% endblock %}

{% block content %}

<div class="container py-5">
    <h1 class="text-center mb-4">Choose Your Key Action</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form method="POST" class="text-center">
                <p class="mb-4">Select whether you want to download the keys for uploading the files or downloading.</p>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <!-- Upload Key Button -->
                    <button type="submit" name="key_option" value="u" class="btn btn-success btn-lg">
                        Public key for uploading files
                    </button>

                    <!-- Download Key Button -->
                    <button type="submit" name="key_option" value="d" class="btn btn-primary btn-lg">
                        Private key for downloading files
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
