<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Loading a custom Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css"/>

    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="color: #0074a3; font-size: 1.9rem;" href="/">Neo DB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            {% if 'user_id' not in session %}
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4 text-white" style="font-size: 1.6rem;"
                href="{{ url_for('login') }}"
                >Login
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4 text-white" style="font-size: 1.6rem;"
                href="{{ url_for('register') }}"
                >Register
              </a>
            </li>
            {% else: %}
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4 text-white" style="font-size: 1.6rem;"
                href="{{ url_for('logout') }}"
                >Log Out
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
