{% extends 'header.html' %}
{% block title %}Neo DB{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">⛃ Neo DB 💻</h1>
  <p class="lead">Want to secure your files but need a secure database?</p>
  <hr class="my-4">
  <p>You've found the right place! Explore our blockchain-powered database offering secure authentication and reliable storage for your critical files. Transparency and integrity, guaranteed!</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
